.titre {
    background-color: #F3F0ED;
    color: black;
    width: 300px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border-radius: 5px;
    margin-bottom: 30px;
}

body  {
    text-align: center;
}